<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <!-- <link rel="stylesheet" href="/drHome.css"> -->
  <link rel="stylesheet" href="/patientHome.css">
  <link rel="stylesheet" href="/patientAppointment.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  
  <header class="header">

    <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> <strong>Welcome Dr. <%= doctorName %></strong> </a>


    <!-- NAVBAR -->
    <nav class="navbar" style="display: flex;">
      

      <div class="dropdown">
        <a href="">Profile</a>
        <div class="dropdown-content">
          <a href="/doctor/drProfile" > My Profile</a>
          <a href="/doctor/logout">Log Out</a>
        </div>
      </div>
     
    </nav>
    

    <div id="menu-btn" class="fas fa-bars"></div>

</header>


<!-- CARDS -->





</div>


  

</body>


</html>